<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
	link(rel="stylesheet" href="/css/style.css")
body
	div(class='container-fluid')
		div(class='row')
			div(class='col-xs-3 task-side-bar')
				div
					img(class="img-responsive center-image" src="/img/dummy_thumbnail.png")
				div(class="text-center")
					div(class="dropdown")
						button(class="btn btn-momentai dropdown-toggle" type="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							span(class="label-greeting") #{currentUser.username}
							span(class="caret")
						ul(class="dropdown-menu" aria-labelledby="dropdownUserMenu")
							li
								a(href=`/users/${currentUser._id}`) user settings
							li
								a(href=`/users/logout`) log out
				hr
				div(class="user-lists")
					h4
						small(class="label-greeting") To-do lists
					ul(class="list-group todo-list-group" id="to-do-list")
						for list in currentUser.lists
							li(class="list-group-item to-do-list-li" id=`list_${list._id}`) 
								span(id=`list_name_${list._id}`) #{list.listName}
								a(class="edit-list-form-toggle pull-right" id=`${list._id}`) (edit)
							li(class="list-group-item to-do-list-edit to-do-list-li" id=`form_${list._id}`)
								form(class="form form-inline edit-list-form" action="#" method="POST")
									input(type="text" name="listName" value=`${list.listName}`)
									input(type="hidden" name="user_id" value=`${currentUser._id}`)
									input(type="hidden" name="list_id" value=`${list._id}`)
									button(type="submit" class="btn btn-default btn-xs") edit list
								form(class="form form-inline delete-list-form" action="#" method="POST")
									input(type="hidden" name="user_id" value=`${currentUser._id}`)
									input(type="hidden" name="list_id" value=`${list._id}`)
									button(type="submit" class="btn btn-danger btn-xs") delete list
								a(class="edit-list-form-toggle pull-right" id=`${list._id}`) (cancel)

					hr
				div(class="add-lists-form")
					a(class="add-list-form-toggle") add new list
					form(class="form form-inline add-list-form" action="#" method="POST")
						input(type="text" name="listName" placeholder="enter list name")
						input(type="hidden" name="user_id" value=`${currentUser._id}`)
						button(type="submit" class="btn btn-default btn-xs") add list
						button(type="button" class="btn btn-danger cancel-add-list-toggle btn-xs") cancel
			div(class='col-xs-6 col-xs-offset-1 main-task-area' id="to-do-task-list")
					for list in currentUser.lists
						div(id=`holding_div_${list._id}`)
							h2
								small #{list.listName}
							//- tasks for each list
							ul(class="list-group todo-task-group" id=`tasklist_${list._id}`)
								for task in list.tasks
									if task.isActive
										li(class="task-item list-group-item" id=`task_item_${task._id}`) 
											table(class="table borderless")
												tr
													td(class="borderless col-xs-1")
														form(class="form form-inline complete-task-form")
															input(type="hidden" name="user_id" value=`${currentUser._id}`)
															input(type="hidden" name="list_id" value=`${list._id}`)
															input(type="hidden" name="task_id" value=`${task._id}`)
															button(type="submit" class="check-button" id=`${task._id}` data=`${task._id}`)
													td(class="borderless col-xs-7" id=`taskName_${task._id}`) #{task.taskName}
													td(class="borderless col-xs-3" id=`isDue_${task._id}`) #{task.isDue}
													td(class="borderless col-xs-1")
														a(class="edit-task-toggle" id=`${task._id}`) edit
										li(class="task-item-edit list-group-item" id=`form_${task._id}`)
											form(class="form form-inline edit-task-form" action="#" method="POST")
												input(type="hidden" name="user_id" value=`${currentUser._id}`)
												input(type="hidden" name="list_id" value=`${list._id}`)
												input(type="hidden" name="task_id" value=`${task._id}`)
												input(type="text" name="taskName" value=`${task.taskName}`)
												input(type="date" name="isDue" value=`${task.isDue}`)
												button(type="submit" class="btn btn-default") edit task
											form(class="form form-inline delete-task-form" action="#" method="POST")
												input(type="hidden" name="user_id" value=`${currentUser._id}`)
												input(type="hidden" name="list_id" value=`${list._id}`)
												input(type="hidden" name="task_id" value=`${task._id}`)
												button(type="submit" class="btn btn-danger") delete task
											a(class="cancel-task-toggle pull-right" id=`${task._id}`) cancel edit
							div(class="add-tasks-form-container")
								form(class="form form-inline add-tasks-form" action="#" method="POST" id=`add_form_${list._id}`)
									input(type="hidden" name="user_id" value=`${currentUser._id}`)
									input(type="hidden" name="list_id" value=`${list._id}`)
									input(type="text" name="taskName" placeholder="insert task")
									input(type="date" name="isDue")
									button(type="submit" class="btn btn-default btn-xs") add task
								div
									a(class="add-task-toggle" id=`form_${list._id}`) add task



					

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
	script(type="text/x-handlebars-template" id="add_list_template")
		li(class="list-group-item to-do-list-li" id=`list_{{list_id}}`)
			span(id=`list_name_{{list_id}}`) {{list_listName}}
			a(class="edit-list-form-toggle pull-right" id="{{list_id}}") (edit)
		li(class="list-group-item to-do-list-edit to-do-list-li" id=`form_{{list_id}}`)
			form(class="form form-inline edit-list-form" action="#" method="POST")
				input(type="text" name="listName" value="{{list_listName}}")
				input(type="hidden" name="user_id" value="{{user_id}}")
				input(type="hidden" name="list_id" value="{{list_id}}")
				button(type="submit" class="btn btn-default btn-xs") edit list
			form(class="form form-inline delete-list-form" action="#" method="POST")
				input(type="hidden" name="user_id" value="{{user_id}}")
				input(type="hidden" name="list_id" value="{{list_id}}")
				button(type="submit" class="btn btn-danger btn-xs") delete list
			a(class="edit-list-form-toggle pull-right" id="{{list_id}}") (cancel)
	script(type="text/x-handlebars-template" id="add_macro_list_template")
		div(id=`holding_div_{{list_id}}`)
			h2
				small {{list_listName}}
			ul(class="list-group todo-task-group" id=`tasklist_{{list_id}}`)
			div(class="add-tasks-form-container")
				form(class="form form-inline add-tasks-form" action="#" method="POST" id=`add_form_{{list_id}}`)
					input(type="hidden" name="user_id" value="{{user_id}}")
					input(type="hidden" name="list_id" value="{{list_id}}")
					input(type="text" name="taskName" placeholder="insert task")
					input(type="date" name="isDue")
					button(type="submit" class="btn btn-default btn-xs") add task
				div
					a(class="add-task-toggle" id=`form_{{list_id}}`) add task
	script(type="text/x-handlebars-template" id="add_task_template")
		li(class="list-group-item") 
			table(class="table borderless")
				tr
					td(class="borderless col-xs-1")
						form(class="form form-inline complete-task-form")
							input(type="hidden" name="user_id" value="{{user_id}}")
							input(type="hidden" name="list_id" value="{{list_id}}")
							input(type="hidden" name="task_id" value="{{task_id}}")
							button(type="submit" class="check-button" id="{{task_id}}")
					td(class="borderless col-xs-7") {{task_taskName}}
					td(class="borderless col-xs-3") {{task_isDue}}
					td(class="borderless col-xs-1")
						a(class="edit-task-toggle" id="{{task_id}}") edit
		li(class="task-item-edit list-group-item" id=`form_{{task_id}}`)
			form(class="form form-inline edit-task-form" action="#" method="POST")
				input(type="hidden" name="user_id" value="{{user_id}}")
				input(type="hidden" name="list_id" value="{{list_id}}")
				input(type="hidden" name="task_id" value="{{task_id}}")
				input(type="text" name="taskName" value="{{task_taskName}}")
				input(type="date" name="isDue" value="{{task_isDue}}")
				button(type="submit" class="btn btn-default") edit task
			form(class="form form-inline delete-task-form" action="#" method="POST")
				input(type="hidden" name="user_id" value="{{user_id}}")
				input(type="hidden" name="list_id" value="{{list_id}}")
				input(type="hidden" name="task_id" value="{{task_id}}")
				button(type="submit" class="btn btn-danger") delete task
			a(class="cancel-task-toggle pull-right" id="{{task_id}}") cancel edit
	script(src="/js/style.js")